extends layout

block content
    h2.
        What is Bojagi?
    p.
        Bojagi is a game of visual reasoning and basic mathematics.
        Young students can use the game to practice their multiplication facts,
        and they can create their own levels to challenge their friends.
        Older students and adults can exercise their creativity by creating
        fiendishly difficult puzzles.
    
    p. 
        A <em>bojagi</em> is a Korean traditional wrapping cloth.
        They were often made by sewing pieces together like a patchwork quilt.
        I picked this name because the completed designs sometimes resemble a
        patchwork.
    
    p.
        This game was created by David Radcliffe. Send me an email at
        <a href="mailto:dradcliffe@gmail.com">dradcliffe@gmail.com</a>, 
        or follow me on Twitter at
        <a href="https://twitter.com/daveinstpaul">@daveinstpaul</a>.
